<div class="content-work-area">
  <div class="card">
    <div class="card-body">

      <div class="text-center">

        <a routerLink="/administrador/home" class="arrow">
          <span class="material-symbols-outlined">
            chevron_left
          </span>
        </a>

      </div>

      <app-work-area-post-task [idTask]="idTask" (form_task)="postTask($event)" />

      <hr>
      <h6 class="card-title text-center">Lista de Tareas</h6>


      <div class="content-task">
        @for (item of tasks(); track item.id) {
        <app-work-area-list-task [task]="item" (updateTask)="updateTask($event)" (deleteTask)="deleteTask($event)" />
        }
      </div>


    </div>

  </div>

</div>
