<div class="card">
  <div class="card-body">

    <div class="text-center">

      <a routerLink="/login" class="arrow-login">
        <span class="material-symbols-outlined">
          chevron_left
          </span>
      </a>

      <h5 class="card-title">Crear Cuenta</h5>
    </div>

    <hr>

    <form enctype="multipart/form-data" method="post" [formGroup]="formulario" (submit)="crearCuenta()">
      <div class="mb-3">
        <label for="email" class="form-label">
          <span class="material-symbols-outlined">
            mail
          </span> Correo Electronico</label>
        <input type="email" name="email" id="email" formControlName="email"
          class="form-control form-control-sm shadow-none" placeholder="" />
        @if(formulario.controls['email'].touched && formulario.controls['email'].invalid ||
        formulario.controls['email'].dirty){


        @if(formulario.controls['email'].errors?.['required']){
        <small id="message-error" class="text-muted">
          <span class="material-symbols-outlined">
            error
          </span>
          Debes ingresar tu correo.</small>
        }

        @if(formulario.controls['email'].errors?.['email'] && formulario.controls['email'].errors?.['pattern']){
        <small id="message-error" class="text-muted">
          <span class="material-symbols-outlined">
            error
          </span>
          El correo no es valido.</small>
        }

        }
      </div>

      <div class="mb-2">
        <label for="password" class="form-label">
          <span class="material-symbols-outlined">
            lock
          </span>Contraseña</label>
        <input type="password" name="password" id="password" formControlName="password"
          class="form-control form-control-sm shadow-none" placeholder="" />
        @if(formulario.controls['password'].touched && formulario.controls['password'].invalid ||
        formulario.controls['password'].dirty){
        @if(formulario.controls['password'].errors?.['required']){
        <small id="message-error" class="text-muted">
          <span class="material-symbols-outlined">
            error
          </span>
          Debes ingresar tu contraseña.</small>
        }
        }
      </div>

      <div class="accion">

        <button type="submit" class="btn-event">
          <span class="material-symbols-outlined">
            save
          </span>
          Crear Cuenta</button>
      </div>
    </form>
  </div>
</div>
