<div class="card">
  <div class="actions">
    <button class="update" routerLink="/administrador/home/work/{{work()?.id}}/edit" title="Editar">

    </button>

    <button class="delete" (click)="deleteEvent()" title="Eliminar">

    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{work()?.titulo}}</h5>
    <div class="content">
      {{work()?.descripcion}}
    </div>
  </div>
  <a routerLink="/administrador/home/{{work()?.id}}/work/" class="card-footer">
    Ver
  </a>
</div>


<!--
a routerLink="/administrador/52/work/"
-->
