<div class="content-work">

  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />
  <app-home-work />


  <a routerLink="/administrador/home/work/create" class="add-work">
    <span class="material-symbols-outlined">
      add
    </span>
  </a>

</div>
