<form enctype="multipart/form-data" method="post">
  <div class="mt-4 mb-2">
    <input type="text" name="tarea" id="tarea" class="form-control form-control-sm shadow-none"
      placeholder="Nueva Tarea ........" />
    <small id="message-error" class="text-muted">
      <span class="material-symbols-outlined">
        error
      </span>
      Help text</small>
  </div>


  <div class="accion">

    <button type="submit" class="btn-event">
      <span class="material-symbols-outlined">
        add
      </span>

      Agregar Tarea
    </button>
  </div>
</form>
