* {
  font-family: 'Times New Roman', Times, serif;
}


.content-login,
.content-register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /*
  background-image: url('/assets/fondo/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 */
}

.content-post-update,.content-work-area{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
