<ul class="list-group list-group-flush">
  <li class="list-group-item" [class.task-hidden]="task_complete()">
    <div class="task">
      <input class="form-check-input shadow-none" type="checkbox" value="{{task().id}}" [id]="task().id">
      <label class="form-check-label" [for]="task().id">{{task().tarea}}</label>
    </div>
    <div class="accion">
      <button class="delete_task">
        <span class="material-symbols-outlined">
          delete
        </span>
      </button>
    </div>
  </li>


</ul>
